body {
    font-family: Arial, sans-serif;
    background-color: #F1F8E9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #A5D6A7;
    color: white;
    padding: 15px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

h1 {
    font-size: 28px;
}

section {
    text-align: center;
    padding: 40px;
}

iframe {
    width: 80%;
    height: 400px;
    border-radius: 8px;
}
