body {
    font-family: Arial, sans-serif;
    background-color: #F1F8E9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #A5D6A7;
    color: white;
    padding: 15px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

h1 {
    font-size: 28px;
}

section {
    text-align: center;
    padding: 40px;
}

input {
    font-size: 20px;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    text-align: right;
}

button {
    font-size: 20px;
    padding: 20px;
    width: 60px;
    margin: 5px;
    border-radius: 5px;
    background-color: #66BB6A;
    color: white;
    border: none;
}

button:hover {
    background-color: #4CAF50;
}
